/*
 * Custom code goes here.
 * A template should always ship with an empty custom.css
 */
#header .header-top {
    /* max-height: 50px; */
    border-bottom: #f6f6f6 2px solid;
    border-bottom-width: 2px;
    border-bottom-style: solid;
    border-bottom-color: rgb(246, 246, 246);
}

.abcRioButton.abcRioButtonBlue {
    transform: scale(0.8);
    transform-origin: left;
}

.abcRioButton {
    border-radius: 1px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .25);
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: background-color .218s, border-color .218s, box-shadow .218s;
    transition: background-color .218s, border-color .218s, box-shadow .218s;
    -webkit-user-select: none;
    -webkit-appearance: none;
    background-color: #fff;
    background-image: none;
    color: #262626;
    cursor: pointer;
    outline: none;
    overflow: hidden;
    position: relative;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
    width: auto;
}

.abcRioButtonBlue {
    background-color: #4285f4;
    border: none;
    color: #fff;
}

.abcRioButtonContentWrapper {
    height: 100%;
    width: 100%;
    display: flex;
}

.abcRioButtonBlue .abcRioButtonContentWrapper {
    border: 1px solid transparent;
}

.abcRioButtonBlue .abcRioButtonIcon {
    background-color: #fff;
    border-radius: 1px;
    width: 48px;
}

.abcRioButtonContents {
    font-size: 13px;
    font-weight: 500;
    letter-spacing: .21px;
    margin-left: 6px;
    margin-right: 6px;
    vertical-align: top;
    text-shadow: 1px 1px 0 #41577d;
}

.abcRioButtonSvg {
    display: block;
}

.layout_layout1 .ets_mm_megamenu_content {
    border-bottom: 1px solid #e7e7e7;
    background: linear-gradient(#FFFFFF, #F2F2F2) repeat scroll 0 0 rgba(0, 0, 0, 0);
    background: -webkit-linear-gradient(#FFFFFF, #F2F2F2) repeat scroll 0 0 rgba(0, 0, 0, 0);
    background: -o-linear-gradient(#FFFFFF, #F2F2F2) repeat scroll 0 0 rgba(0, 0, 0, 0);
}

.ybc-menu-toggle {
    font-size: 16px;
    font-weight: 700;
    line-height: 18px;
    padding: 15px;
    text-transform: uppercase;
    width: 100%;
    display: none;
    cursor: pointer;
    color: #333;
}

.container {
    width: 1140px;
    max-width: 100%;
    padding: 0;
}

.ets_mm_megamenu_content .ets_mm_megamenu_content_content {
    display: flex;
    display: -o-flex;
    display: -ms-flex;
    display: -moz-flex;
    display: -webkit-flex;
    position: relative;
    justify-content: space-between;
    align-items: center;
}

.mm_extra_item {
    float: right;
    padding-right: 10px;
    position: relative;
    z-index: 10;
    display: flex;
    display: -o-flex;
    display: -ms-flex;
    display: -moz-flex;
    display: -webkit-flex;
    font-size: 14px;
}

.mm_extra_item>div {
    float: left;
    margin-left: 10px;
    padding: 0 !important;
    width: auto;
    white-space: nowrap;
}

#header .layout_layout1:not(.ybc_vertical_menu) .mm_menus_li > a, .layout_layout1 .ybc-menu-vertical-button, .layout_layout1 .mm_extra_item * {
    color: #484848;
}

#_desktop_top_menu {
    width: 100%;
    background-color: #fff;
}

.top-menu  {
    height: 60px;
    margin: 0;
    padding: 0;
    z-index: 10;
    float: left;
}

.top-menu li {
    border-right: 1px solid #e7e7e7;
    text-transform: uppercase;
}

.top-menu li:first-child {
    border-left: 1px solid #e7e7e7;
}

.top-menu li a {
    font-size: 16px;
    font-weight: 700;
    color: #484848 !important;
    float: left;
    padding: 0 20px;
    position: relative;
    min-height: 60px;
    display: flex;
    align-items: center;
}

.top-menu li a .tri-desc path {
    transform: scale(0.5, 0.3);
    transform-origin: center;
    padding: 2px;
    fill: #484848;
}

.top-menu li a:hover {
    background-color: #fff;
    color: #ec4249 !important; 
    outline-color: #ec4249;
    text-decoration-color: #ec4249;
    border-top: 2px solid #ec4249;
}

.top-menu li a:hover svg path {
    fill: #ec4249;
}

.top-menu li li {
    border-right: none;
}

.top-menu li li a {
    text-transform: none !important;
    font-weight: 400;
    font-size: 14px;
}

.top-menu li li a:hover {
    border-top: none;
}

.top-menu li li:first-child {
    border-left: none;
}

#index-page svg {
    fill: #484848;
    margin: -5px 3px 0px 5px;
}

#block-reassurance {
    padding: 10px 15px 0 15px;
    text-align: center;
    width: 100%;
}

#block-reassurance .block-title {
    font-weight: 700;
}

#block-reassurance.cart .row {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
}

#block-reassurance.cart .row .block-title{
    font-weight: 400;
    font-size: 15px;
}

#block-reassurance.cart .row .block-icon svg{
    width: 35px;
    height: auto;
    transform-origin: left;
    display: block;
}

#block-reassurance.cart .row .block-icon{
    margin-right: 5px;
    padding-top: 5px;
}

.x13eucookies__icon-mockup, .x13eucookies__icon {
    padding: 0 !important;
    background: transparent;
    border: 0 !important;
    outline: none;
    width: 42px !important;
    height: 42px !important;
    -webkit-flex: 0 0 42px !important;
    flex: 0 0 42px !important;
    transition: 250ms all ease-in;
    cursor: pointer;
    opacity: 1;
    pointer-events: auto;
    position: fixed;
    z-index: 2147483646;
    bottom: 20px;
    left: 20px;
}

#wrapper .container {
    padding-left: 15px;
    padding-right: 15px;
}

#content-wrapper {
    padding-left: 15px;
    padding-right: 15px;
}

@media (min-width: 576px) {
    #content-wrapper.mid-col {
        float: left;
        width: 66.66667%;
    }
}

@media (min-width: 768px) {
    #content-wrapper.mid-col {
        float: left;
        width: 75%;
    }
}

.product-information .product-actions, .product-information .product-description {
    background: #fff;
    padding: 1.25rem;
    margin-bottom: 10px;
}

#product #block-reassurance {
    background: transparent;
}

.product-features-list {
    list-style-type: disc;
}

.product-manufacturer.contact {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
    margin-bottom: 16px;
}